body {
    font-family: 'Roboto', sans-serif;
    background-color: #F9F9FF;
}

.container {
    width: 95%;
    max-width: 1620px;
    margin: 0 auto;
}

#landing {
    width: 100%;
    height: 100vh;
    border-radius: 0% 100% 0% 100% / 55% 0% 100% 45%;
    background-image: -o-linear-gradient(290deg, #0093E9 0%, #80D0C7 100%);
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);   
}

#landing-bg {
    width: 100%;
    height: 98%;
    border-radius: 0% 100% 0% 100% / 55% 0% 100% 45%;
    background-image: url('../img/main2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* overflow: hidden;  */
}

header {
    padding: 40px 0;
}

header .container,
main .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
}

main .container {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start
}

header .logo a {
    font-size: 38px;
    font-weight: 500;
    color: #000;
}

header .logo a span {
    
    font-weight: 300;
    color: dodgerblue;
}

header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

header ul li {
    margin-left: 35px;
}

header ul li a {
    color: #fff;
    text-transform: capitalize;
    font-size: 18px;
    padding: 5px 2px;
    position: relative;
}

header ul li a::before {
    content: "";
    width: 0;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: auto;
    background-image: -o-linear-gradient(290deg, #0093E9 0%, #80D0C7 100%);
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%); 
    -webkit-transition: .5s; 
    -o-transition: .5s; 
    transition: .5s;
    
}

header ul li a:hover {
    color: #E9ECEF;
}

header ul li a:hover::before {
    width: 100%;
}

header nav.toggle {
    left: 0;
}

header .burger-menu {
    width: 40px;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 2px 2px 2px 3px;
    cursor: pointer;
    display: none;
}

header .burger-menu .line{
    width: 100%;
    height: 3px;
    background-color: #000000;
    -webkit-transition: -webkit-transform 0.2s ease-out;
    transition: -webkit-transform 0.2s ease-out;
    -o-transition: transform 0.2s ease-out;
    transition: transform 0.2s ease-out;
    transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}

header .toggle .line1 {
    -webkit-transform: scale(0.9) rotate(-45deg) translate(-6px, 4px);
        -ms-transform: scale(0.9) rotate(-45deg) translate(-6px, 4px);
            transform: scale(0.9) rotate(-45deg) translate(-6px, 4px);
}

header .toggle .line2 {
    display: none;
}

header .toggle .line3 {
    -webkit-transform: scale(0.9) rotate(45deg) translate(-6px, -4px);
        -ms-transform: scale(0.9) rotate(45deg) translate(-6px, -4px);
            transform: scale(0.9) rotate(45deg) translate(-6px, -4px);
}



main {
    height: 60%;
    margin-top: 100px;
}

main .lb {
    max-width: 685px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding-right: 80px;
}

main .lb h1 {
    color: #fff;
    text-transform: capitalize;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 25px;
    text-shadow: 1px 1px 2px #000;
}

main .lb p {
    height: 120px;
    overflow: hidden;
    color: #fff;
    line-height: 30px;
    font-size: 23px;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px #000;
}

main .lb button {
    width: 200px;
    height: 60px;
    border: none;
    outline: none;
    cursor: pointer;
    text-transform: capitalize;
    border-radius: 15px;
    font-size: 17px;
    font-weight: 500;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

main .lb button:hover {
    background-color: #333697;
    color:#fff;
}

main .lb button:hover i{
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
}

main .lb button i {
    margin-left: 10px;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}

main .lb a {
    text-transform: capitalize;
    color: #fff;
    font-size: 17px;
    margin-left: 20px;
    text-shadow: 2px 2px 4px #000;
}

main .lb a:hover i {
    margin-left: 20px
}

main .lb a i {
    margin-left: 10px;
    position: relative;
    top: 2px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

main .rb {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    max-height: 505px;
}


/* ----------------Iphone-------------------- */

.iphone {
    width: 225px;
    position:relative;
    display: inline-block;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.iphone::before {
    content: "";
    display: block;
    background-color: #fff;
    position:absolute;
    top:10%;
    right:10%;
    left: 10%;
    bottom: 10%;
    margin: auto;
}

.iphone-img{
    width: 100%;
    height: 100%;
}

.iphone-screen {
    position: Absolute;
    height: 80%;
    width: 80%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.iphone-screen .skip,
.iphone-screen .next {
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    border: 1px solid #F4F4F4;
    border-radius: 25px;
    padding: 5px 20px;
    position: absolute;
    bottom: 15px;
}

.iphone-screen .skip {
    left: 0;
    color: gray;
}

.iphone-screen .next {
    right: 0;
    color: dodgerblue
}

.rb .iphone:nth-child(2) {
    width: 295px;
}

.rb .iphone:nth-child(2) lottie-player {
    height: 225px;
}

.iphone lottie-player {
    cursor: pointer;
}


/* --------------------slick-slider------------- */

.slick-dotted.slick-slider {
    height: 70%;
    width: 100%;
}

.slick-initialized .slick-slide {
    width: 180px;
}

.slick-list {
    height: 100%;
}

.slick-dots li {
    width: 20px;
    height: 8px;
}

.slick-dots li button {
    padding: 0;
    width: 100%;
    height: 100%;
    border: 2px solid dodgerblue;
    border-radius: 35px;
}

.slick-dots li button:before {
    content: "";
    display: none;
}

li.slick-active button{
    background-color: dodgerblue;
}

.slider h5 {
    text-align: center;
    color: dodgerblue;
    font-weight: 500;
    font-size: 17px;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.slider p {
    text-align: center;
    color: gray;
    font-size: 14px;
    font-weight: 300;
}

lottie-player {
    width: 100%;
    height: 150px;
    margin-bottom: 15px;
    margin-top: 20px;
}

/* --------------services---------------- */

#services {
    height: 100vh;
    padding: 50px 0;
}

.section-title {
    font-size: 45px;
    font-weight: 500;
    max-width: 670px;
    margin: 0 auto;
    text-align: center;
    line-height: 50px;
}

.section-par {
    font-size: 19px;
    font-weight: 300;
    max-width: 800px;
    margin: 30px auto;
    color: #707070;
    text-align: center;
    line-height: 25px;
}

#services .service-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 50px;
}

#services .service-items .item{
    -webkit-box-shadow: 0px 0px 27px -15px #000000;
            box-shadow: 0px 0px 27px -15px #000000;
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    -ms-flex-preferred-size: 428px;
        flex-basis: 428px;
    height: 513px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-transform: capitalize;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

#services .service-items .item .lottie {
    width: 100%;
    height: 60%;
}

#services .service-items .item .lottie lottie-player {
    margin: 0;
    height: 100%;
}

#services .service-items .item h5 {
    font-size: 35px;
    font-weight: 500;
    text-align: center;
    margin: 30px 0;
}

#services .service-items .item p {
    font-size: 19px;
    font-weight: 400;
    color: #6B6969;
    text-align: center;
}


/* -------------Why-Us------------ */

#why-us {
    height: 100vh;
    padding: 50px 0;
    position: relative;
}

#why-us .container {
    height: 100%;
}

#why-us .app {
    height: calc(100% - 150px);
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#why-us .app img.style{
    position: absolute;
    left: 0;
    top: 180px;
    height: 709px;
    width: 40%;
    max-width: 709px;
    z-index: -1;
}

#why-us .app .left-item,
#why-us .app .right-item  {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 195px;
}

#why-us .app .left-item .iphone {
    width: 295px;
    position:relative;
    left: 5px;
}

#why-us .app .right-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align:left;
    padding-right: 0;
}

#why-us .app .right-item h5 {
    font-size: 35px;
    font-weight: 500;
    max-width: 295px;
    line-height: 45px;
    margin-bottom: 50px;
}

#why-us .app .right-item p {
    font-size: 19px;
    font-weight: 300;
    color: #707070;
    margin-bottom: 30px;
    max-width: 750px;
}

#why-us .app .right-item a {
    border: 0;
    background-color: #fff;
    color:#707070;
    font-size: 23px;
    border: 1px solid dodgerblue;
    border-radius: 10px;
    padding: 10px 15px;
    cursor: pointer;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

#why-us .app .right-item a i {
    margin-left: 20px;
    position: relative;
    top: 2px;
}

#why-us lottie-player {
    height: 225px;
}

/* ----------------goals-------------- */

#our-goals {
    padding: 50px 0;
    height: 70vh;
}

#our-goals .goal-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 80px;
}

#our-goals .goal-items .item {
    -ms-flex-preferred-size: 350px;
        flex-basis: 350px;
    height: 180px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 5% 5% 20% 5%; 
    -webkit-transition: 0.1s; 
    -o-transition: 0.1s; 
    transition: 0.1s;
    cursor: pointer;
}

#our-goals .goal-items .item:hover {
    -webkit-box-shadow: -7px 13px 10px -16px #000000;
            box-shadow: -7px 13px 10px -16px #000000;
    background-color: #fff;
}

#our-goals .goal-items .item:hover p{
    color: dodgerblue;
}

#our-goals .goal-items .item img {
    margin-right: 10px;
}

#our-goals .goal-items .item p {
    font-size: 22px;
    font-weight: 400;
    text-transform: capitalize;
}

#our-goals .goal-items .item p span {
    display: inline-block;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
    color: dodgerblue;
}

#our-goals .section-par {
    color: #241B1B;
}

/* --------------------portfolio---------------- */

#our-portfolio {
    height: 100vh;
    position: relative;
    overflow: hidden;;
}

#our-portfolio .style {
    position:absolute;
    right: -250px;
    top: 90px;
    bottom: 0;
    margin: auto;
    z-index: -1;
}

.portfolio-iphone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.portfolio-iphone .iphone {
    width: 340px;
    height: 620px;
}

.portfolio-iphone .iphone lottie-player {
    height: 250px;
}

/* ------------------Clients feedback--------------------- */

#our-clients {
    padding: 50px 0 0 0;
    height: 95vh;
}

#our-clients .container {
    position: relative;
}

#our-clients h2 {
    margin: 0;
    text-align: left;
}

#our-clients p {
    margin: 20px 0 0 0;
    text-align: left;
}

#our-clients a {
    position: absolute;
    right:0;
    top: 25px;
    background-color: #F3F3F3;
    color: #707070;
    font-size: 19px;
    font-weight: 500;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 257px;
    height: 73px;
    border-radius: 15px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

#our-clients a i {
    margin-left: 15px;
    font-size: 30px;
}

#our-clients .client-photo {
    /* max-width: 480px; */
    height: 100%;
    overflow:hidden;
}

#our-clients .client-photo img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

#our-clients .client {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #EFEFFE;
    margin-top: 60px;
    border-radius: 5px; 
    -webkit-box-shadow: 1px 4px 18px -7px rgba(0,0,0,0.75); 
            box-shadow: 1px 4px 18px -7px rgba(0,0,0,0.75);
    height: 548px;
}

#our-clients .client .client-photo {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

#our-clients .client .client-feedback {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 120px;
}

#our-clients .client .client-feedback .comment {
    max-width: 580px;
    font-size: 19px;
    line-height: 1.5;
    margin-bottom: 30px;
    color: #222D39;
}

#our-clients .client .client-feedback .name {
    color: #222D39;
    font-weight: 500;
    font-size: 18px;
}

#our-clients .client .client-feedback .job {
    font-size: 14px;
    font-weight: 400;
}

#our-clients .client .client-feedback .job  span {
    color: #333697;
    font-weight: 500;
}

/* ------------contact-us---------- */

#contact-us form {
    max-width: 1110px;
    height: 200px;
    margin: 0 auto;
    background-color: #333697;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 25px;
}

#contact-us form > div {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 0 60px;
}
#contact-us form div:nth-child(2) {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 0 60px 0 20px;
    position: relative;
}

#contact-us form p {
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 25px;
} 

#contact-us form span {
    font-size: 18px;
    font-weight: 300;
}

#contact-us form input {
    width: 100%;
    outline: none;
    height: 70px;
    padding: 0 150px 0 30px;
    border: none;
    border-radius: 35px;
}

#contact-us form button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 140px;
    height: 50px;
    background-color: #333697;
    border-radius: 35px;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 70px;
    margin: auto;
    cursor: pointer;
    border: none;
    color: #fff;
    font-size: 16px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

/* ------------footer---------- */

footer {
    background-color: #EBEBF8;
    padding-top: 160px;
    position: relative;
    bottom: 100px;
    z-index: -1;
}

footer .container {
    height: 100%;
}

footer .f-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

footer .f-wrap h5 {
    color: #000000;
    font-size: 21px;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 50px;
}

footer .f-wrap li {
    margin-bottom: 25px;
}

footer .f-wrap .brand .logo {
    -webkit-transition:  0.5s;
    -o-transition:  0.5s;
    transition:  0.5s;
}

footer .f-wrap li a {
    color: #8A8A8A;
    font-size: 19px;
    text-transform: capitalize;
}

footer .f-wrap .logo a span {
    color: #707070;
    font-size: 35px;
    font-weight: 500;
}

footer .f-wrap .logo a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}


footer .f-wrap .logo a img {
    margin-right: 10px;
}

footer .f-wrap .social {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

footer .f-wrap .social a {
    display: inline-block;
    width: 38px;
    height: 38px;
    color: #9C9CA8;
    border: 1px solid #9C9CA8;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

footer .f-wrap .contact-us address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

footer .f-wrap .contact-us address a {
    color: #8A8A8A;
    font-size: 19px;
    margin-bottom: 25px;
}

footer .terms {
    color: #677294;
    padding: 40px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

footer .terms div a {
    color: #677294;
    margin: 0 30px;
}

footer .terms div a:last-child {
    margin:0;
    padding-left: 30px;
    border-left: 1px solid #707070;
}


/* -----hover----- */

.iphone:hover,
#services .service-items .item:hover {
    -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
            transform: scale(0.9);
}

#why-us .app .right-item a:hover,
#our-clients a:hover {
    background-color: dodgerblue;
    color: #fff;
}

#our-clients .client-photo img:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1)
}

#our-clients .client .client-feedback .rating img {
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

#our-clients .client .client-feedback .rating img:hover {
    -webkit-transform:rotate(360deg);
        -ms-transform:rotate(360deg);
            transform:rotate(360deg)
}

#contact-us form button:hover {
    background-color: transparent;
    color: #333697;
    border: 1px solid #333697;
}

footer .f-wrap .social a:hover {
    background-color: #333697;
    color: #fff;
    border: none;
}

footer .f-wrap .brand .logo:hover  {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}

footer .f-wrap li a:hover,
footer .f-wrap .contact-us address a:hover {
    color:#333697;
}


/* -----------Responsive-------- */

@media (max-width: 1500px) {
	main .lb h1 {
        font-size: 32px;
    }
    main .lb p {
        font-size: 18px;
    }
    .rb .iphone:nth-child(2) {
        width: 225px;
    }
    .rb .iphone:nth-child(2) lottie-player {
        height: 150px;
    }
    .rb .iphone lottie-player {
        height: 150px;
    }
    main .rb {
        height: 70%;
    }
    #services .service-items .item {
        -ms-flex-preferred-size: 30%;
            flex-basis: 30%;
        height: 400px;
    }
    #services .service-items .item p {
        font-size: 16px;
    }
    #services .service-items .item h5 {
        font-size: 22px;
    }
    #services .service-items {
        padding-top: 90px
    }
}

@media (max-width: 1200px) {
    main {
        height: auto;
        margin-top: 50px;
    }
    main .container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    main .lb {
        max-width: 900px;
        padding: 0;
        text-align:center;
        margin-bottom: 20px;
    }
    main .rb {
        width: 100%;
    }
    main .lb p {
        height: 90px;
        font-size: 16px
    }
    main .lb button {
        width: 180px;
        height: 50px;
        font-size: 14px;
    }
    header ul li {
        margin-left: 15px;
    }
    header ul li a {
        font-size: 16px;
    }
    main .lb h1 {
        font-size: 28px;
    }
    #why-us .app .left-item, 
    #why-us .app .right-item {
        padding-right: 70px;
    }
    .section-title {
        font-size: 28px;
    }
    .section-par {
        font-size: 17px;
    }
    #why-us .app .right-item h5 {
        font-size: 25px;
        margin-bottom: 30px;
    }
    #why-us .app .right-item p {
        font-size: 17px;
        margin-bottom: 15px;
    }
    #why-us .app .right-item a {
        font-size: 18px;
        margin-top: 30px;
    }
    #our-portfolio {
        height: auto;
    }
    .portfolio-iphone {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }
    .portfolio-iphone .iphone {
        margin-bottom: 30px;
    }
    #our-clients .client .client-feedback {
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        padding: 0px 60px;
    }
    footer .f-wrap li a {
        font-size: 17px;
    }
    footer .f-wrap h5 {
        font-size: 19px;
    }
    .section-par {
        max-width: 590px;
    }
    #our-clients a {
        width: 165px;
        height: 50px;
        font-size: 16px;
        top: 0;
    }
    #our-goals,
    #services {
        height: auto;
    }
    
}

@media (max-width: 992px) {	
	#landing {
        height: auto;
    }
	main .container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    main {
        margin-top: 50px;
    }
    main .lb {
        padding-right: 0;
    }
    header nav {
        position: fixed;
        left: -50%;
        height: 100vh;
        width: 50%;
        z-index: 11;
        top: 0;
        background-image: -o-linear-gradient( 290deg , #0093E9 0%, #80D0C7 100%);
        background-image: linear-gradient( 160deg , #0093E9 0%, #80D0C7 100%);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    header ul{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    header ul li {
        margin: 0;
        margin-bottom: 30px;
    }
    header ul li a {
        font-size: 21px;
    }
    header .burger-menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    #services .service-items {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }
    #services .service-items .item {
        -ms-flex-preferred-size: 310px;
            flex-basis: 310px;
        margin: 0 20px 30px 20px;
    }
    #our-goals .goal-items {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }
    #contact-us form {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 20px 0;
    }
    #contact-us form > div {
        text-align: center;
    }
    #contact-us form p {
        font-size: 23px;
        margin-bottom: 10px;
    }
    #contact-us form span{
        font-size: 16px;
    }
    #contact-us form div:nth-child(2) {
        width: 80%;
        padding: 0;
    }
    #contact-us form input {
        height: 50px;
    }
    #contact-us form button {
        right: 6px;
        bottom: 30px;
        height: 40px;
    }

}

@media (max-width: 768px) {
	main .rb {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        height: auto;
        max-height: none;
    }
    #landing-bg {
        border-radius: initial;
        padding-bottom: 20px;
    }
    .iphone,
    .rb .iphone:nth-child(2) {
        width: 300px;
    }
    .rb .iphone lottie-player,
    .rb .iphone:nth-child(2) lottie-player {
        height: 230px;
    }
    main .lb {
        margin-bottom: 40px;
    }
    #landing {
        padding-bottom: 20px;
        border-radius: 140% 130% 0% 100% / 82% 0% 143% 2.5%;
    }
    #services .service-items {
        padding-top: 20px;
    }
    #why-us,
    #our-portfolio,
    #our-clients {
        padding-top: 0;
    }
    #our-goals .goal-items {
        margin-top: 35px;
    }
    #our-clients {
        height: 85vh;
    }
    #our-clients .client {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    #our-clients .client .client-photo {
        max-width: none;
    }
    #our-clients .client .client-feedback {
        padding: 0px 15px;
    }
    #our-clients .client-photo img {
        -o-object-fit: contain;
           object-fit: contain
    }
    #our-clients .client .client-feedback .comment{
        font-size: 15px;
        margin-bottom: 0;
    }
    #our-clients .client .client-feedback {
        text-align: center;
    }
    footer .f-wrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }
    footer .f-wrap > div {
        margin-bottom: 20px;
    }
    #why-us .app {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    #why-us .app .left-item, #why-us .app .right-item {
        padding-right: 0;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    #why-us .app img.style {
        display: none;
    }
    #why-us {
        height: auto;
    }
    #why-us .app .left-item, #why-us .app .right-item {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-top: 20px;
    }
    #why-us .app .right-item h5 {
        text-align: center;
    }

}

@media (max-width: 576px) {
	footer .terms {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 15px 0;
    }
    footer .terms p {
        margin-bottom: 20px;
    }
    #contact-us form span {
        display: none;
    }
    #contact-us form p {
        padding-top: 20px;
    }
    #our-clients a {
        display: none;
    }
    #our-clients {
        height: auto;
    }
    #contact-us {
        margin-top: 20px;
    }
    main .lb a {
        display: block;
        margin-top: 20px;
        margin-left: 0;
    }
}