@media (max-width: 1500px) {
	main .lb h1 {
        font-size: 32px;
    }
    main .lb p {
        font-size: 18px;
    }
    .rb .iphone:nth-child(2) {
        width: 225px;
    }
    .rb .iphone:nth-child(2) lottie-player {
        height: 150px;
    }
    .rb .iphone lottie-player {
        height: 150px;
    }
    main .rb {
        height: 70%;
    }
    #services .service-items .item {
        flex-basis: 30%;
        height: 400px;
    }
    #services .service-items .item p {
        font-size: 16px;
    }
    #services .service-items .item h5 {
        font-size: 22px;
    }
    #services .service-items {
        padding-top: 90px
    }
}

@media (max-width: 1200px) {
    main {
        height: auto;
        margin-top: 50px;
    }
    main .container {
        flex-direction: column;
        align-items: center;
    }
    main .lb {
        max-width: 900px;
        padding: 0;
        text-align:center;
        margin-bottom: 20px;
    }
    main .rb {
        width: 100%;
    }
    main .lb p {
        height: 90px;
        font-size: 16px
    }
    main .lb button {
        width: 180px;
        height: 50px;
        font-size: 14px;
    }
    header ul li {
        margin-left: 15px;
    }
    header ul li a {
        font-size: 16px;
    }
    main .lb h1 {
        font-size: 28px;
    }
    #why-us .app .left-item, 
    #why-us .app .right-item {
        padding-right: 70px;
    }
    .section-title {
        font-size: 28px;
    }
    .section-par {
        font-size: 17px;
    }
    #why-us .app .right-item h5 {
        font-size: 25px;
        margin-bottom: 30px;
    }
    #why-us .app .right-item p {
        font-size: 17px;
        margin-bottom: 15px;
    }
    #why-us .app .right-item a {
        font-size: 18px;
        margin-top: 30px;
    }
    #our-portfolio {
        height: auto;
    }
    .portfolio-iphone {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .portfolio-iphone .iphone {
        margin-bottom: 30px;
    }
    #our-clients .client .client-feedback {
        flex: 1;
        padding: 0px 60px;
    }
    footer .f-wrap li a {
        font-size: 17px;
    }
    footer .f-wrap h5 {
        font-size: 19px;
    }
    .section-par {
        max-width: 590px;
    }
    #our-clients a {
        width: 165px;
        height: 50px;
        font-size: 16px;
        top: 0;
    }
    #our-goals,
    #services {
        height: auto;
    }
    
}

@media (max-width: 992px) {	
	#landing {
        height: auto;
    }
	main .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    main {
        margin-top: 50px;
    }
    main .lb {
        padding-right: 0;
    }
    header nav {
        position: fixed;
        left: -50%;
        height: 100vh;
        width: 50%;
        z-index: 11;
        top: 0;
        background-image: linear-gradient( 160deg , #0093E9 0%, #80D0C7 100%);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    header ul{
        flex-direction: column;
    }
    header ul li {
        margin: 0;
        margin-bottom: 30px;
    }
    header ul li a {
        font-size: 21px;
    }
    header .burger-menu {
        display: flex;
    }
    #services .service-items {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    #services .service-items .item {
        flex-basis: 310px;
        margin: 0 20px 30px 20px;
    }
    #our-goals .goal-items {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    #contact-us form {
        flex-direction: column;
        padding: 20px 0;
    }
    #contact-us form > div {
        text-align: center;
    }
    #contact-us form p {
        font-size: 23px;
        margin-bottom: 10px;
    }
    #contact-us form span{
        font-size: 16px;
    }
    #contact-us form div:nth-child(2) {
        width: 80%;
        padding: 0;
    }
    #contact-us form input {
        height: 50px;
    }
    #contact-us form button {
        right: 6px;
        bottom: 30px;
        height: 40px;
    }

}

@media (max-width: 768px) {
	main .rb {
        flex-direction: column;
        height: auto;
        max-height: none;
    }
    #landing-bg {
        border-radius: initial;
        padding-bottom: 20px;
    }
    .iphone,
    .rb .iphone:nth-child(2) {
        width: 300px;
    }
    .rb .iphone lottie-player,
    .rb .iphone:nth-child(2) lottie-player {
        height: 230px;
    }
    main .lb {
        margin-bottom: 40px;
    }
    #landing {
        padding-bottom: 20px;
        border-radius: 140% 130% 0% 100% / 82% 0% 143% 2.5%;
    }
    #services .service-items {
        padding-top: 20px;
    }
    #why-us,
    #our-portfolio,
    #our-clients {
        padding-top: 0;
    }
    #our-goals .goal-items {
        margin-top: 35px;
    }
    #our-clients {
        height: 85vh;
    }
    #our-clients .client {
        flex-direction: column;
    }
    #our-clients .client .client-photo {
        max-width: none;
    }
    #our-clients .client .client-feedback {
        padding: 0px 15px;
    }
    #our-clients .client-photo img {
        object-fit: contain
    }
    #our-clients .client .client-feedback .comment{
        font-size: 15px;
        margin-bottom: 0;
    }
    #our-clients .client .client-feedback {
        text-align: center;
    }
    footer .f-wrap {
        flex-direction: column;
        align-items: flex-start;
    }
    footer .f-wrap > div {
        margin-bottom: 20px;
    }
    #why-us .app {
        flex-direction: column;
    }
    #why-us .app .left-item, #why-us .app .right-item {
        padding-right: 0;
        justify-content: center;
    }
    #why-us .app img.style {
        display: none;
    }
    #why-us {
        height: auto;
    }
    #why-us .app .left-item, #why-us .app .right-item {
        align-items: center;
        margin-top: 20px;
    }
    #why-us .app .right-item h5 {
        text-align: center;
    }

}

@media (max-width: 576px) {
	footer .terms {
        flex-direction: column;
        align-items: center;
        padding: 15px 0;
    }
    footer .terms p {
        margin-bottom: 20px;
    }
    #contact-us form span {
        display: none;
    }
    #contact-us form p {
        padding-top: 20px;
    }
    #our-clients a {
        display: none;
    }
}